<!doctype html>
<html>
  {% include head.html %}
  <body>
    {% include navigation.html %}
    {% include header.html %}
    {% include home.html %}
    {% include vision.html %}
    {% include Aplysection.html %}
    {% include sistema.html %}
    {% include tolearn.html %}
    <section class="work">
    </section>
    {% include squad.html %}
    {% include contact.html %}
    <section class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2706.2223262692933!2d-71.53986467266154!3d-16.415869360715686!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91424aefdfc26a1f%3A0x564874acb4a2f126!2sAmatistas+402%2C+Arequipa!5e0!3m2!1ses!2spe!4v1539633569379" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </section>
    {% include footer.html %}
  </body>
  {% include script.html %}
</html>