@charset "UTF-8";
@font-face{
    font-family:'Anke';
    src:asset_url("Anke.otf");
}
@font-face{
    font-family:'google';
    src:asset_url("google.ttf");
}

@font-face{
    font-family:'lemon';
    src:asset_url("lemon.ttf");
}
*{
    margin: 0;
    box-sizing: border-box;
}

/*variables*/
$progress-width: 100%;
$font-size: 18px;
$center: center;
$transparent: transparent;
$uppercase: uppercase;

/*colors*/
$color-brand: #ff5733;
$color:  #a3a3a3;
$color-fnd: #dfdddd;
$color-black: #000;
$color-btn:  #bebebe;
$color-hover-btn: #1ed760;
$color-white: #fff;
$color-send:#dfdddd;

/*common*/
.btn-bootcamp{
    padding: .5rem 3rem !important;
    font-size: 1rem !important;
    background: $transparent;
    color: $color-btn;
    text-transform: $uppercase;
    font-weight: normal;
    border: 1px solid $color-btn;
}
.btn-bootcamp:hover{
    background: $color-hover-btn;
    color: $color-white;
}
.space{
    margin-left: 1rem;
}
div.container-fluid{
    position: absolute;
    z-index: 1;
}

.item-title-section{
    background: $color-send;
    font-family: 'Anke';
    font-size: 1.5rem;
    letter-spacing: 5px;
    padding: 8px 20px;
    margin-bottom: 3rem;
    margin-top: 2rem;
    box-shadow: 0 4px 20px -2px $color;
}
.letters-gray{
    color: $color-black;
    text-transform: $uppercase;
}
.letters-green{
    color: $color-white;
    text-transform: $uppercase;
}

/*header*/
section.home-black {
    background-image: asset_url("arequipa-bitmaker.png");
    background-size: cover;
    position: relative;
    height: 600px;
    width: $progress-width;
    margin-bottom: 2rem;
    color: $color-white;
    display: flex;
    justify-content: $center;
    align-items: $center;
    font-family: google;
    margin-bottom: 1.5rem;
    h1{
        font-size: 3rem;
        text-transform: $uppercase;
        padding: 0 20rem;
        }
}

.image-inf{
    background-image: asset_url("informatica.png");
    background-size: cover;
    height: 24rem;
    width: $progress-width;
    background-repeat: no-repeat;
}
div.container-img{
    border: 1px solid $color-send;
    padding: 0.5rem;
    margin-bottom: 2.5rem;
}
p{
    font-size: $font-size;
    text-align: justify;
}
.arequipa{
    float: left;
    margin-right: 2rem;
}
li{
    margin-top: 5rem;
}
.esc-cp{
    float: right;
    margin-left: 2rem;
}
.img-google{
    background-image: asset_url("google.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: $center top;
    width: $progress-width;
    height: 300px;
    background-attachment: fixed;
    
}
section.fuente, footer{
    margin-top: 6rem;
}
hr{
    border-top: 4px solid $color-black;
}
footer{
    background: $color-black;
    color: $color-white;
    padding: 2.5rem 0;
    h6{
        margin-bottom: 0;
    }
}
 @media only screen and (min-width: 360px) and (max-width: 640px){
   .arequipa{
       width: $progress-width;
   }
   .esc-cp{
       width: $progress-width;
   }
   .img-google{
       background-size: auto;
       background-position: initial;
   }
}
@media only screen and (min-width: 360px) and (max-width: 640px){
   
   .img-google{
       background-repeat: repeat;
   }
}
@media only screen and (min-width: 320px) and (max-width: 568px){
   .arequipa{
       width: $progress-width;
   }
   .esc-cp{
       width: $progress-width;
   }
   .img-google{
       background-size: auto;
       background-position: initial;
       background-position: left $center;
   }
}
@media only screen and (min-width: 320px) and (max-width: 568px){
   .arequipa{
       width: 40%;
   }
   .img-google{
       background-repeat: repeat;
   }
}