<section class="container-fluid" id="benefits">
    <div class="row">
        <div class="col-sm-5 "></div>
        <div class="col-sm-7 item-title-section">
            <div class="pull-left">
                <span class="letters-gray">{{ page.benefits }} </span><span class="letters-green">{{ page.benefits-sc}} </span>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="row justify-content-center benefits-content">
                <div class="col-sm-6 ipad-responsive">
                    <div class="text-center" data-aos="fade-up-right"
                                                data-aos-duration="2000">
                        {% asset alumni width='100%' %}
                    </div>
                </div>
                <div class="col-sm-4 benefits-sponsor">
                    <div class="triangle-isosceles triangle-left" data-aos="fade-up-left"
                                                                    data-aos-duration="2000">
                        <p class="title-benefits"> {{ page.sponsor }} </p>
                        <p> {{ page.text-sponsor}} </p>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="row justify-content-center benefits-content">
                <div class="col-sm-4 benefits-sponsor">
                    <div class="triangle-isosceles " data-aos="fade-up-right"
                                                        data-aos-duration="2000">
                        <p class="title-benefits"> {{ page.student}} </p>
                        <p> {{page.text-student}} </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="text-center " data-aos="fade-up-left"
                                                data-aos-duration="2000">
                        {% asset code width='100%' %}
                    </div>
                </div>
            </div>
            <br><br>
            <div class="row justify-content-center benefits-content">
                <div class="col-sm-6 ipad-responsive">
                    <div class="text-center" data-aos="fade-up-right"
                                                data-aos-duration="2000">
                        {% asset benefits width='100%' %}
                    </div>
                </div>
                <div class="col-sm-4 benefits-sponsor">
                    <div class="triangle-isosceles triangle-left" data-aos="fade-up-left"
                                                                    data-aos-duration="2000">
                        <p class="title-benefits">{{ page.instructor }}</p>
                        <p> {{ page.text-instructor }} </p>
                       
                    </div>
                </div>
            </div>
            <br><br>
            <div class="row justify-content-center benefits-content">
                <div class="col-sm-4 benefits-sponsor">
                    <div class="triangle-isosceles " data-aos="fade-up-right"
                                                         data-aos-duration="2000">
                        <p class="title-benefits"> {{ page.exp-premium }} </p>
                        <p> {{ page.text-premium }} </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="text-center" data-aos="fade-up-left"
                                                data-aos-duration="2000">
                        {% asset mentor width='100%' %}
                    </div>
                </div>
            </div>
            <br><br>
        </div>
    </div>
</section> 