<section class="container-fluid">
    <div class="row">
        <div class="col-sm-12 item-title-section">
            <div class="text-center">
                <span class="letters-gray">{{ page.title }} </span><span class="letters-green">{{ page.title-sc}} </span>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="container-img">
            <div class="image-inf"></div>
        </div>
        <div class="container">
            <h3><b>{{ page.concept1 }} </b> </h3>
            <p>{{ page.concept2 }} </p>
            <p>{{ page.concept3 }} </p>
        </div>
    </div>
</section>