<section class="container fuente">
    <div class="container">
        <p><b>{{ page.fuente }} </b> <em> <a href="http://sudo.utero.pe/2014/05/09/arequipa-el-polo-de-computacion-del-peru/" target="_blank">{{ page.fuente1 }} </a> - <a href="https://medium.com/@eddywongch/observations-of-the-peruvian-startup-ecosystem-part-2-startup-communities-and-the-emergence-of-e8387fc03be8" target="_blank">{{ page.fuente2 }} </a></em></p>
        <br>
        <hr width="50px">
        <br>
        <em>{{ page.adaptado }} </em>
    </div>
</section>