<section class="container">
    <div class="container">
        <div class="items">
            <ol>
                <li>
                    <h4><b>{{ page.title-items-1 }} </b></h4>
                    {% asset arequipa.jpg width='20%' class="arequipa" %}
                    <p>{{ page.title-items-concept1 }}</p>
                    <p>{{ page.title-items-concept2 }}</p>
                    <p>{{ page.title-items-concept3 }}</p>
                    <p>{{ page.title-items-concept4 }}</p>
                    <p>{{ page.title-items-concept5 }}</p>
                    
                </li>
                <li>
                    <h4><b>{{ page.title-items-2 }} </b></h4>
                    <p>{{ page.title-item-1 }} </p>
                    <p>{{ page.title-item-2 }}</p>
                    {% asset CC.jpg width='50%' class="esc-cp" %}
                    <p>{{ page.title-item-3 }}</p>
                    <p>{{ page.title-item-4 }}</p>
                    <p>{{ page.title-item-5 }}</p>
                </li>
                <li>
                    <h4><b>{{ page.title-items-3 }} </b></h4>
                    <p>{{ page.title-items-p1 }}</p>
                    <p>{{ page.title-items-p2 }}</p>
                    <p>{{ page.title-items-p3 }}</p>
                    <p>{{ page.title-items-p4 }}</p> 
                    <div class="container-img"><div class="img-google"></div></div>
                    <p>{{ page.title-items-p5 }}</p>
                    <p>{{ page.title-items-p6 }}</p>
                </li>
            </ol>
        </div>
    </div>
</section>