<section class="container section-inf">
    <div class="row">
        <div class="col-sm-6 col-xs-12">
                {% asset bot4.gif width='100%' height='500' class="bots" %}
        </div>
        <div class="col-sm-6 col-xs-12 contenedor">
            <div class="">
                <p class="theme"><b>{{ page.data }}</b></p>
                <p>{{ page.aplysection }}</p>
                <button class="btn btn-lg btn-light inf">{{ page.apply }}</button>
            </div>
        </div>
    </div>
</section>