<footer class="container-fluid text-center">
    <div class="logo-footer">
        <!--<div class=" media">
            <ul class="">
                <li><i class="fab fa-facebook-f i-footer"></i></li>
                <li><i class="fab fa-linkedin-in i-footer"></i></li>
                <li><i class="fab fa-instagram i-footer"></i></li>
            </ul>
        </div>-->
        {% asset logo-Rounded.png width=120 %}
    </div>
    <h6><small>©Copyright 2018 Bitmaker all rights reserved</small></h6>
</footer>