<section class="home-black text-center">
    
    <div class="home">
        <h2>{{ page.titleHeader }}</h2><br>
        <h1>{{ page.headerText }}</h1>
        <br>
        <p>{{ page.text }}</p>
        <br>
        <a href="#bootcamp">
            <button type="button" class="btn btn-lg btn-light home-buttom" data-aos="zoom-in"
                                                                           data-aos-duration="9000">{{ page.bttnh1 }}</button>
        </a>
        <button type="button" class="btn btn-lg btn-light home-register" data-aos="zoom-in"
                                                                         data-aos-duration="9000"><a href="#contact" class="dropdown-item register">{{ page.apply }}</a></button>
    </div>
    <!---->
    
</section>
<div class="pixel-loader"></div>