<section class="container-fluid" id="home">
    <div class="row">
        <div class="col-sm-7 item-title-section">
            <div class="pull-right">
                <span class="letters-gray">{{ page.hometitle }}</span><span class="letters-green"> {{ page.hometl }}</span>
            </div>
        </div>
        <div class="col-sm-5"></div>
    </div>
    <div class="text-center logo-bitmaker">
    </div>
    <div class="container">
        <div class="row flex">
            <div class="col-sm-6 contenedor-box" >
                <div class="container">
                    <!-- <img src="img/Comillas.png" width="30" alt="">  data-aos="zoom-in-up"
                        data-aos-duration="2000"-->
                    <p data-aos="zoom-in-up"
                       data-aos-duration="2000">{{ page.description }}</p>
                </div>
            </div>
            <div class="col-sm-6">
              {% asset datatxt.png class="home-demo" width="100%" height=350 %}
            </div>
        </div>
    </div>
</section>