<section class="container-fluid home-section-inf" >
        
    <div class="row">
        <div class="col-sm-7 item-title-section">
            <div class="pull-right">
                <span class="letters-gray">{{ page.hometitle }}</span><span class="letters-green"> {{ page.hometl }}</span>
            </div>
        </div>
        <div class="col-sm-5"></div>
    </div>
    <div class="text-center logo-bitmaker">
    </div>
    <div class="container" >
        <div class="row flex">
            <div class="col-sm-6 contenedor-box" id="homewho" >
                <div class="container">
                    <p class="title">{{ page.secondmenu }} </p>
                    <p data-aos="zoom-in-up"
                       data-aos-duration="2000">{{ page.description }}</p>
                </div>
            </div>
            <div class="col-sm-6">
              {% asset home-two.png class="home-demo" width="90%" height=360 %}
            </div>
        </div>
    </div>

</section>

