<nav class="navbar navbar-expand-lg navbar-light container ">
    <a href="" class="bit navbar-brand" href="">
        {% asset logo-white  width=150 alt='Bilmaker-logo' %}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <div class="navbar-nav mr-auto"></div>
        <form action="" class="form-inline " >
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#home">{{ page.navhome }}<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#soluciones">{{ page.firstmenu }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#bootcamp">{{ page.secondmenu }}</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ page.thirdmenu }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#tyt">{{ page.sub-nav }}</a>
                        <a class="dropdown-item" href="#tyt">{{ page.sub-nav1 }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-apply" href="#contact">{{ page.contact }}</a>
                </li>
            </ul>
            <!--<button class="btn btn-light applynow"><a href="#apply" class="dropdown-item apply-btcm">{{ page.apply }}</a></button>-->
        </form>

    </div>
</nav>