<section class="container-fluid squad" id="squad">
    <div class="row">
        <div class="col-sm-7 item-title-section section-grp">
            <div class="pull-right">
                <span class="letters-gray text-section-grp">{{ page.squadtitle }}</span><span class="letters-green text-section-grp"> {{ page.squadtl }}</span>
            </div>
        </div>
        <div class="col-sm-5"></div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <div class="triangle-isosceles" data-aos="zoom-in-up"
                                                data-aos-duration="2000">
                    <p>{{ page.nameDescription }}</p>
                </div>
            </div>
            <div class="col-sm-2">
                <h6 class="th-user">{{ page.nameInstructor }}</h6><small>{{ page.theme }}</small>
                <div class="text-center" data-aos="zoom-in-up"
                                         data-aos-duration="2000">
                        {% asset teacher width=150 class="instructor" %}
                </div>
            </div>
        </div>
        <br><br>
        <div class="row justify-content-center">
            <div class="col-sm-2 ipad-responsive">
                <h6 class="th-user">{{ page.nameInstructor }}</h6><small>{{ page.theme }}</small>
                <div class="text-center" data-aos="zoom-in-up"
                                         data-aos-duration="2000">
                        {% asset teacher width=150 class="instructor" %}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="triangle-isosceles triangle-left" data-aos="zoom-in-up"
                                                              data-aos-duration="2000">
                    <p>{{ page.nameDescription }}</p>
                </div>
            </div>
        </div>
        <br><br>
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <div class="triangle-isosceles " data-aos="zoom-in-up"
                                                 data-aos-duration="2000">
                    <p>{{ page.nameDescription }}</p>
                </div>
            </div>
            <div class="col-sm-2">
                <h6 class="th-user">{{ page.nameInstructor }}</h6><small>{{ page.theme }}</small>
                <div class="text-center " data-aos="zoom-in-up"
                                          data-aos-duration="2000">
                        {% asset teacher width=150 class="instructor" %}
                </div>
            </div>
        </div>
    </div>
</section>
<!--data-aos="zoom-in-up"
                        data-aos-duration="2000"-->