<section class="container-fluid tolearn ">
        <div class="row">
            <div class="col-sm-5 "></div>
            <div class="col-sm-7 item-title-section">
                <div class="pull-left">
                    <span class="letters-gray">{{ page.tolearntitle }}</span><span class="letters-green"> {{ page.tolearntl }}</span>
                </div>
            </div>
        </div>
        <div class="container" data-aos="zoom-in-up"
                               data-aos-duration="2000">
            <p class="text-center">{{ page.titleLearn }}</p>
        </div>
        <div class="process text-center" id="apply-update">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-4">
                        <p><b></b></p>
                        <ol data-aos="zoom-in-up"
                            data-aos-duration="2000">
                            <li id="apply"><b></b>
                                <p class="program"><a href="" class="update"><small>temas</small></a></p>
                            </li>
                            <li id="admin"><b></b>
                                <p class="program"><a href="" class="update"><small>temas</small></a></p>
                            </li>
                            <li id="review"><b></b>
                                <p class="program"><a href="" class="update"><small>temas</small></a></p>
                            </li>
                        </ol>
                    </div>
                    <div class="col-sm-4">
                        <p><b></b></p>
                        <ol data-aos="zoom-in-up"
                            data-aos-duration="2000">
                            <li id="apply"><b></b>
                                <p class="program"><a href="" class="update"><small>talleres</small></a></p>
                            </li>
                            <li id="admin"><b></b>
                                <p class="program"><a href="" class="update"><small>temas</small></a></p>
                            </li>
                            <li id="review"><b></b>
                                <p class="program"><a href="" class="update"><small>temas</small></a></p>
                            </li>
                        </ol>
                    </div>
                    <div class="col-sm-4">
                        <p><b></b></p>
                        <ol data-aos="zoom-in-up"
                            data-aos-duration="2000">
                            <li id="apply"><b></b>
                                <p class="program"><a href="" class="update"><small>dfdfgd</small></a></p>
                            </li>
                            <li id="admin"><b></b>
                                <p class="program"><a href="" class="update"><small>temas</small></a></p>
                            </li>
                            <li id="review"><b></b>
                                <p class="program"><a href="" class="update"><small>temas</small></a></p>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>