<section class="container-fluid tolearn " id="tyt">
        <div class="row">
            <div class="col-sm-5 "></div>
            <div class="col-sm-7 item-title-section">
                <div class="pull-left">
                    <span class="letters-gray">{{ page.tolearntitle }}</span><span class="letters-green"> {{ page.tolearntl }}</span>
                </div>
            </div>
        </div>
        <div class="container" data-aos="zoom-in-up"
                               data-aos-duration="2000">
            <p class="text-center"><b>{{ page.titleLearn }}</b></p>
        </div>
        <div class="process text-center" id="apply-update">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="twothers">
                            <p><b>{{ page.themes }}</b></p>
                            <div data-aos="zoom-in-up"
                                data-aos-duration="2000">
                                    {% for item in site.data.tolearn %}
                                        <p> {{ item.themes }}</p>
                                    {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="twothers">
                            <p><b>{{ page.workshops }}</b></p>
                            <div data-aos="zoom-in-up"
                                data-aos-duration="2000">
                                    {% for item in site.data.tolearn %}
                                        <p> {{ item.workshops }}</p>
                                    {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="twothers">
                            <p><b>{{ page.others }}</b></p>
                            <div data-aos="zoom-in-up"
                                data-aos-duration="2000">
                                    {% for item in site.data.tolearn %}
                                        <p> {{ item.others }}</p>
                                    {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
