<section class="container-fluid section-goal" id="soluciones">
    <div class="row">
        <div class="col-sm-5 "></div>
            <div class="col-sm-7 item-title-section">
                <div class="pull-left">
                    <span class="letters-gray">{{ page.section2title }}</span><span class="letters-green"> {{ page.section2tl}}</span>
                </div>
            </div>
    </div>
    <div class="container">
        <div class="row text-center">
            {% for item in site.data.vision %}
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div>
                        {{ item.image }}
                        <p><b>{{ item.title }}</b></p>
                        <p class="our-goal"><small>{{ item.description }}</small></p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section> 
