<section class="home-black text-center">
    <canvas id="canvas"></canvas>
    <div class="home" id="home">
        <h1 class="display-1">{{ page.titleHeader }}</h1><br>
        <h2>{{ page.headerText }}</h2>
        <br>
        <p>{{ page.text }}</p>
        <br>
        <a href="#bootcamp">
            <button type="button" class="btn btn-lg btn-light home-buttom" data-aos="zoom-in"
                                                                            data-aos-duration="9000">{{ page.bttnh1 }}</button>
        </a>
        <button type="button" class="btn btn-lg btn-light home-register" data-aos="zoom-in"
                                                                            data-aos-duration="9000"><a href="#contact" class="dropdown-item bootcamp register">{{ page.apply }}</a></button>
    </div>
</section>
