<section class="container-fluid squad" id="squad">
    <div class="row">
        <div class="col-sm-7 item-title-section section-grp">
            <div class="pull-right">
                <span class="letters-gray text-section-grp">{{ page.squadtitle }}</span><span class="letters-green text-section-grp"> {{ page.squadtl }}</span>
            </div>
        </div>
        <div class="col-sm-5"></div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            {% for item in site.data.squad %}
                {% assign mod = forloop.index | modulo: 2 %}
                {% if mod == 0 %}
                    <div class="row justify-content-center">
                        <div class="col-sm-2 ipad-responsive">
                            <h6 class="th-user">{{ item.name }}</h6><small>{{ item.title }}</small>
                            <div class="text-center" data-aos="zoom-in-up"
                                                        data-aos-duration="2000">
                                    {{ item.image }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="triangle-isosceles triangle-left" data-aos="zoom-in-up"
                                                                            data-aos-duration="2000">
                                <p>{{ item.description }}</p>
                                {{ item.linkedin }}
                            </div>
                        </div>
                    </div>
                    <br><br>
                {% else %}
                    <div class="row justify-content-center">
                        <div class="col-sm-6">
                            <div class="triangle-isosceles " data-aos="zoom-in-up"
                                                            data-aos-duration="2000">
                                <p>{{ item.description }}</p>
                                {{ item.linkedin }}
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <h6 class="th-user">{{ item.name }}</h6><small>{{ item.title }}</small>
                            <div class="text-center " data-aos="zoom-in-up"
                                                    data-aos-duration="2000">
                                    {{ item.image }}
                            </div>
                        </div>
                    </div>
                    <br><br>
                {% endif %}
                
            {% endfor %}
        </div>
    </div>
</section>
<!--data-aos="zoom-in-up"
                        data-aos-duration="2000"-->
<!--  if mod == 0  imprime pares de lo contrario imprime los siguientes-->

                
                        