<section class="container-fluid tolearn ">
        <div class="row">
            <div class="col-sm-5 "></div>
            <div class="col-sm-7 item-title-section">
                <div class="pull-left">
                    <span class="letters-gray">{{ page.tolearntitle }}</span><span class="letters-green"> {{ page.tolearntl }}</span>
                </div>
            </div>
        </div>
        <div class="process" id="apply-update">
            <div class="container-fluid">
                <div class="row tolearn-row">
                    {% for unit in site.data.tolearn.curriculum %}
                    <div class="col-md-4 col-sm-12">
                        <a class="twothers" data-toggle="collapse" href=#{{unit.contents-id}} style="color: inherit; text-decoration: none">
                            <!--<button type="button" class="btn btn-secondary btn-plus"></button>-->
                            <p class="title"><b>{{ unit.prologue }}</b></p>
                            <p class="title"><b>{{ unit.title }}</b></p>
                            <div id={{unit.contents-id}} class="collapse">
                                <ul>
                                {% for item in unit.contents %}
                                    <li>
                                        <p style="font-weight: bold">{{ item.title }}</p>
                                        <ul style="margin-left: 40px">
                                            {% for content in item.contents %}
                                            <li>{{ content }}</li>
                                            {% endfor %}
                                        </ul>
                                </li>
                                {% endfor %}
                                </ul>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                    <div class="progress-shadow"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
