<section class="container-fluid tolearn ">
        <div class="row">
            <div class="col-sm-5 "></div>
            <div class="col-sm-7 item-title-section">
                <div class="pull-left">
                    <span class="letters-gray">{{ page.tolearntitle }}</span><span class="letters-green"> {{ page.tolearntl }}</span>
                </div>
            </div>
        </div>
    <div id="accordion">
        {% for unit in site.data.tolearn.curriculum %}
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target=#{{unit.contents-id}} aria-expanded="true" aria-controls="collapseOne">
                        <p class="h4"><b>{{ unit.prologue }} <small class="text-muted">{{ unit.title }}</small></b> <i class="fas fa-angle-down"></i></p>
                    </button>
                </h5>
            </div>

            <div id={{unit.contents-id}} class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <ul>
                        {% for item in unit.contents %}
                        <li>
                            <p style="font-weight: bold"><i class="fas fa-chevron-right fa-xs"></i> {{ item.title }}</p>
                            <ul style="margin-left: 40px">
                                {% for content in item.contents %}
                                <li><i style="font-size: 0.75rem" class="fas fa-chevron-circle-right fa-xs"></i> {{ content }}</li>
                                {% endfor %}
                        </ul>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    </section>
