<section class="container">
    <div class="container" >
        <div class="row flex">
            <div class="container col-sm-6 contenedor-box" >
                <div class="container">
                    <h3 class="title"><b> {{ page.home-title }} </b></h3>
                    <div class="description " data-aos="fade-up"
                                                data-aos-duration="2000">
                        <p> {{ page.text}} </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                {% asset bootcamp-1.mp4 width='100%' %}
            </div>
        </div>
    </div>
</section>