<section>
    <div class="send">
        <div class="container justify-content-center">
            <h2> {{ page.contact }}  <button class="btn btn-lg btn-bootcamp btn-send" id="send"> {{ page.unete }} </button></h2> 
        </div>
    </div>
    <div class="container" id="sponsor-send">
        <div class="justify-content-center text-center">
            <p class="sponsor-send"> {{ page.title-send }} </p>
            {% asset sponsor width='70%' %}
        </div>
        <p class="register"> {{ page.title-ins }} </p>
        <div class="row justify-content-center text-center">
            <div class="col-sm-7">
                <form action="https://api.formbucket.com/f/buk_Aiss6nTCRauWYZRvuGsMwEXx" method="post" target="_blank">
                    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your email...">
                    <button class="btn btn-lg btn-bootcamp btn-send"> SEND </button>
                </form>
            </div>
        </div>
    </div>
</section>
<script>
   
</script>