*{
    /*outline: 1px solid #f1f1f1;*/
}
.home-program{
    background-image: asset_url("program.jpg");
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 2rem;
    color: #fff;
    font-family: "lemon";
    display: flex;
    justify-content: center;
    align-items: center
}
.th{
    background: #00ff99d5;
    border-radius: 25px;
    padding: 0.85rem;
    justify-content: center;
}
.letters{
    color: #000;
}
table:hover{
    background-image: asset_url("transform.png")
}
.process{
    background-image: asset_url("work-datasciencie.jpg");
    height: 650px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 2rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center
}
a.update:hover{
    color: #ff5733;
}
a small{
    color: #ff5733;
    font-weight: 600;
}
p.program{
    margin: 0;
}
li{
    padding: 0.75rem;
    margin: 18px;
}
li:hover{
    background: #fff;
    border-radius: 15px;
    color: #000;
}