@charset "UTF-8";
@font-face{
    font-family:'Anke';
    src:asset_url("Anke.otf");
}
@font-face{
    font-family:'google';
    src:asset_url("google.ttf");
}
@font-face{
    font-family:'helvReg';
    src:asset_url("HELR45W.ttf");
}
@font-face{
    font-family:'helvetica';
    src:asset_url("helvmn.ttf");
}
@font-face{
    font-family:'lemon';
    src:asset_url("lemon.ttf");
}

*{
    margin: 0;
    box-sizing: border-box;
}

.current {
    color: green;
}

/*nav------------------------------*/
ul.navbar-nav.mr-auto{
    text-align: center;
    margin: auto;
}
a.nav-link, a.nav-item{
    color: #6f6f77;
    font-family: lemon;
    font-size: 12px;
    margin: 0 20px;
}
a.nav-link:hover, a.nav-item:hover{
    color: #036920;
}
a.apply-btcm:active{
    background: transparent;
}
#navbarSupportedContent form ul li a{
    color: #fff;
}
#navbarSupportedContent form ul li a.dropdown-item{
    color: #6f6f77;
}
/*home------------------------------*/
section.home-black{
    background-image: asset_url("header-2.png");
    height: 940px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 2rem;
    color: #fff;
    font-family: "lemon";
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:-80px;

}
.home-black p{
    font-size: 20px;
}
.home-black button{
    font-size: 11px;
}
.home-black p, .home-black button{
    font-family:Helvetica;
    
}
section.home{
    height: 550px;
}
.applynow{
    border: 2px solid #ff5733;
    font-family: anke;
    color: #ff5733;
}
/*header separator*/
.pixel-loader {
  width: 10px;
  height: 10px;
  margin-top: -36px !important;
  background: #6f6f77;
  color: #e0dede;
  margin: 80px auto;
  box-shadow: 15px 15px 0 0,
              -15px -15px 0 0,
              15px -15px 0 0,
              -15px 15px 0 0,
              0 15px 0 0,
              15px 0 0 0,
              -15px 0 0 0,
              0 -15px 0 0;
  animation: anim 4s linear infinite;
}

@keyframes anim {
  0% {
    -webkit-filter: hue-rotate(0deg);
  }
  50% {
    box-shadow: 20px 20px 0 0,
                -20px -20px 0 0,
                20px -20px 0 0,
                -20px 20px 0 0,
                0 10px 0 0,
                10px 0 0 0,
                -10px 0 0 0,
                0 -10px 0 0;
  }
  
  75% {
    box-shadow: 20px 20px 0 0,
                -20px -20px 0 0,
                20px -20px 0 0,
                -20px 20px 0 0,
                0 10px 0 0,
                10px 0 0 0,
                -10px 0 0 0,
                0 -10px 0 0;
  }
  
  100% {
    transform: rotate(360deg);
    -webkit-filter: hue-rotate(360deg);
  }
}

/*common-----------------------*/
p{
    font-size: 17px;
    margin: 24px 0;
}
i{
    font-size: 70px;
    text-align: center;
}
i.fa-desktop{
    color: #fdb631;
}
div.desktop h6{
    color: #fdb631;
}
i.fa-braille{
    color: #2ecc71;
}
div.braille h6{
    color: #2ecc71;
}
i.fa-suitcase{
    color: #469ae0;
}
div.suitcase h6{
    color: #469ae0;
}

ul{
    list-style-type: none;
    padding-left: 0;
}
.th{
    background: #00ff99d5;
    border-radius: 25px;
    padding: 0.85rem;
    justify-content: center;
}
/*section---------------------------*/
section{
    margin-bottom: 6rem;
}
.item-title-section{
    background: rgb(223, 221, 221);
    font-family: "Anke";
    font-size: 1.5rem;
    letter-spacing: 5px;
    padding: 8px 20px;
    margin-bottom: 3rem;
    box-shadow: 0 4px 20px -2px rgb(163, 163, 163);
}
.letters-gray{
    color: #000;
}
.letters-green{
    color: #ffff;
}
div.pull-right{
    float: right;
}
/*section 1er-----------------------*/
.contenedor-box{
    padding: 25px 25px 9px;
    border-left: 7px solid rgb(223, 221, 221);
}
.logo-bitmaker{
    margin-bottom: 40px;
}
a.register{
    color: #f1f1f1 !important;

}
a.register:hover{
    background: transparent;
}
/*section 2da-----------------------*/
.icon-text{
    margin-top: 13px;
    color: #ff5733;
    letter-spacing: 4px;
    padding-top: 23px;
}
.icon-text.left{
    border-left: 3px solid #efefef;
}
.icon-text.right{
    border-right: 3px solid #efefef;
}
.solutions{
    margin-bottom: 3rem;
}
span.fa{
    color: #efefef;
}
/*section-inf-------------------------*/
.section-inf{
    background-image: asset_url("separator.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    height: 460px;
    color: #fff;
    padding-top: 50px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;

}
.section-inf p{
    font-size: 20px;
    text-transform: uppercase;
}
button.btn.btn-lg.btn-light.home-buttom{
    background: #f1f1f1;
    color: #6f6f77;
}
button.btn.btn-lg.btn-light.home-register a{
    padding-top: 0;
    padding-bottom: 0;
}
button.btn.btn-lg.btn-light{
    color: #ff5733;
    background: transparent;
    font-weight: 500;
    border-color: transparent;
    text-transform: initial;
    border-radius: 20px;
    font-size: 15px;
    border: 2px solid #ff5733;
}

button.btn.btn-lg.btn-light:hover{
    color: #b62b0c;
    border: 2px solid #b62b0c;
}
/*sistem*/
section .sistem-bitm{
    margin-top: 57px;
}
/*section-goal-------------------------*/
.section-goal{
    background: #f1f1f1;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 0;
}

/*section courses----------------------*/
section.tolearn{
    background-image: asset_url("home-middle-grid-xl.svg");
    height: 1100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    margin-bottom: 0;
}
div.themes{
    padding: 2rem 3rem 1.5rem;
    background: #f1f1f1;
    border-radius: 44px;
    width: 70%;

}
button.btn.btn-light.btn-dtl{
    padding-top: 0;
    padding-bottom: 0;
}
small.ms-info{
    color: #fff;
}

/*section work----------------------*/

/*section grp-----------------------*/
.section-grp{
    background: #6f6f77;
}
.text-section-grp{
    color: #fff;
}
/*teacher section-------------------*/
section#squad{
    margin-top: -15rem;
}
.th-user{
    margin-top: 80px;
    margin-bottom: -6px;
    color: #000;
    font-weight: bold;
    font-family: lemon;
}
small{
    color: #6f6f77;
}
.triangle-isosceles p{
    padding: 20px;
    text-align: center;
    font-size: 15px;
}
.triangle-isosceles {
    position:relative;
    background:#f1f1f1;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
}
.triangle-isosceles:after {
    content:"\00a0";
    display:block;
    position:absolute;
    z-index:-1;
    bottom:-30px;
    right:50px;
    width:0;
    height:0;
    border-width:15px 8px;
    border-style:solid;
    border-color:#f1f1f1 transparent transparent;
}
.triangle-isosceles.triangle-left:after {
    left:50px;
}
img.instructor{
    border-radius: 100px;
}
/*section-contact-------------------------*/
section.contact, section.map{
    margin-bottom: 0;
}
.contact-ttl{
    background: transparent;
    box-shadow: none;
    color: #6f6f77;
}
.contact-ttl small{
    color: #bebebe;
}
.contact-stc{
    background: #31333e;
    padding: 80px;
    color: #f1f1f1;
    font-family: anke;
    font-weight: normal;
}
label{
    margin-left: 10px;
}
input.form-control, textarea.form-control{
    font-size: 10px;
    letter-spacing: 2px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 7px;
    border: transparent;
}
.button-send{
    width: 100%;
    font-size: 15px ;
}
.btn-contact{
    background: #f1f1f1 !important;
    text-transform: uppercase !important;
    color: #ff5733 !important;
    font-weight: bold !important;
}
.btn-contact:hover{
    background: #ff5733 !important;
    text-transform: uppercase !important;
    color: #fff !important;
    font-weight: bold !important;
}
.button-send:hover{
    color: #6f6f77;
}
/*map--------------*/

/*footer------------------------------*/
footer{
    margin-top: -8px;
    height: 100px;
    }
.logo-footer{
   margin-top: 50px;
}
footer h6 small{
    color: #6f6f77;
}

input.file{position:absolute; display: none;}

/*media query*/

@media only screen and (min-width: 360px) and (max-width: 640px){
    .triangle-isosceles.triangle-left:after {
        top:-15px;
        border-width:15px 15px;
        display: flex;
        justify-content: center;
    }
    .th-user{
        margin-top: 0;
    }
    div.themes{
        width: 100%;
        margin-bottom: 20px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 568px){
    .triangle-isosceles.triangle-left:after {
        top:-15px;
        border-width:15px 15px;
        display: flex;
        justify-content: center;
    }
    .th-user{
        margin-top: 0;
    }
    div.themes{
        width: 100%;
        margin-bottom: 20px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px){

    div.themes{
        width: 100%;
        margin-bottom: 20px;
    }
    div.col-sm-2.ipad-responsive{
        margin-right:44px;
    }
}