@charset "UTF-8";
@font-face{
    font-family:'Anke';
    src:asset_url("Anke.otf");
}
@font-face{
    font-family:'google';
    src:asset_url("google.ttf");
}

@font-face{
    font-family:'lemon';
    src:asset_url("lemon.ttf");
}

*{
    margin: 0;
    box-sizing: border-box;
    /*outline: 1px solid #6f6f6f;*/
}

/* variables */

$progress-width: 100%;
$progress-height: .28em;
$font-size: 18px;
$line-height: 1.5em;
$font-weight-headings: 100;
$h1-font-size: 2.25em;
$center: center;
$transparent: transparent;

/* colors*/
$color: #6f6f77;
$color-bg: #f5f7f9;
$color-progress-bg: #e5e9eb;
$color-green: #00ff99d5;
$color-turquoise: #5ac8fa;
$color-blue: #007aff;
$color-light-blue: #34aadc;
$color-purple: #5856d6;
$color-red: #ff2d55;
$color-brand: #ff5733;
$color-light: #f1f1f1;
$color-white: #fff;
$color-black: #000;

/*common-----------------------*/
p{
    font-size: $font-size;
    margin: 24px 0;
}
ul{
    list-style-type: none;
    padding-left: 0;
}
section{
    margin-bottom: 6rem;
}
.item-title-section{
    background: rgb(223, 221, 221);
    font-family: 'Anke';
    font-size: 1.5rem;
    letter-spacing: 5px;
    padding: 8px 20px;
    margin-bottom: 3rem;
    box-shadow: 0 4px 20px -2px rgb(163, 163, 163);
}
.letters-gray{
    color: $color-black;
}
.letters-green{
    color: $color-white;
}
div.pull-right{
    float: right;
}
button.btn.btn-lg.btn-light.home-buttom{
    background: $color-light;
    color: $color;
}
button.btn.btn-lg.btn-light.home-register a{
    padding-top: 0;
    padding-bottom: 0;
}
/*nav------------------------------*/
nav{
    position: absolute !important;
    z-index: 1;
    width: 59%;
}
section.navigation{
    display: block;
    margin: auto;
}
a.nav-link, a.nav-item{
    color: $color;
    font-family: 'lemon';
    font-size: 12px;
}

a.apply-btcm:active{
    background: $transparent;
}

#navbarSupportedContent form ul li{
    a{
        color: $color-white;
    }
    a.dropdown-item{
        color: $color;
    }
    a.dropdown-item:active{
        background: $color-white;
    }
} 

/*header*/
section.home-black {
    background-image: asset_url("spiderbot.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: $center;
    background-attachment: fixed;
    letter-spacing: 2px;
    position: relative;
    height: 940px;
    width: $progress-width;
    margin-bottom: 2rem;
    color: #fff;
    font-family: 'lemon';
    display: flex;
    justify-content: $center;
    align-items: $center;
    p{
        font-size: 20px;
        }
    .home{
        position: absolute;
    }
}
#canvas{
    width: $progress-width;
    height: 920px;
    margin-bottom: 1rem;
}
a.register{
    color: $color-light !important;

}
a.register:hover{
    background: transparent;
}
button.btn.btn-lg.btn-light{
    color: $color-brand;
    background: $transparent;
    font-weight: 500;
    border-color: $transparent;
    text-transform: initial;
    border-radius: 20px;
    font-size: 15px;
    border: 2px solid $color-brand;
}
button.btn.btn-lg.btn-light:hover{
    color: #b62b0c;
    border: 2px solid #b62b0c;
}
/*home------------------
section.home-black{
    background-image: asset_url("header-12.png");
    height: 940px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 2rem;
    color: #fff;
    font-family: "lemon";
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:-80px;
    p{
        font-size: 20px;
    }
}------------*/
/*section-home-------------*/
p.title{
    font-size: 29px;
    font-family: 'google';
    letter-spacing: 2px;
    font-weight: bold;
}
.contenedor-box{
    padding: 25px 25px 9px;
}
/*section-vision-------------*/
.section-goal{
    background: $color-light;
    padding-top: 50px;
    padding-bottom: 50px;
}
/*section bot */
section.section-inf .text-section-inf{
    margin-top: 5em;
}
section.section-inf p.theme{
    font-size: 29px;
    font-family: 'google';
    letter-spacing: 2px;
}
section.section-inf .bots{
    border-radius: 1000px;
}
/*system*/
section div.sistem-bitm{
    margin-top: 57px;
}
b.title{
    font-size: 23px;
    font-family: 'google';
    letter-spacing: 2px;
}
.th{
    background:$color-green;
    border-radius: 25px;
    padding: 0.85rem;
    justify-content: $center;
}
/*section tolearn---------------------*/
section.tolearn{
    background-image: asset_url("home-middle-grid-xl.svg");
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:$center $center;
    margin-bottom: 0;
    background-attachment: fixed;
    p.title-tolearn{
        font-size: 25px;
        font-family: 'google';
        letter-spacing: 3px;
        font-weight: bold;
        text-transform: capitalize;
    }
    .twothers{
        width: 25rem;
        display: block;
        margin: auto;
        background: $color-white;
        margin-bottom: 50px;
        padding: $font-size $font-size;
    
        p{
            margin: 7px;
        }
        p.title{
            font-size: 25px;
            margin-bottom: 15px;
            font-family: 'google';
            letter-spacing: 3px;
        }
    }
}
i.far.fa-calendar-check{
    font-size: 16px;
    margin-right: 5px;
}
i.fas.fa-laptop-code{
    font-size: 16px;
    margin-right: 5px;
}
i.fa.fa-robot{
    font-size: 16px;
    margin-right: 5px;
}
.progress {
  background-color: $color-progress-bg;
  height: $progress-height;
  position: relative;
  width: $progress-width;
  margin-top: 28px;

  &-bar {
    animation-duration: 5s;
    animation-name: width;
    background-image: linear-gradient(to right, $color-green, $color-turquoise, $color-blue, $color-light-blue, $color-purple, $color-red);
    background-size: $progress-width $progress-height;
    height: $progress-width;
    position: relative;
  }
}
/* ANIMATIONS */
@keyframes width {

  0%, 100% {
    transition-timing-function: cubic-bezier(1, 0, .65, .85);
  }

  0% {
    width: 0;
  }

  100% {
    width: 100%;
    animation-duration: 80s;
  }

}
/*teacher section-------------------*/
.th-user{
    margin-top: 80px;
    margin-bottom: -6px;
    color: #000;
    font-weight: bold;
    font-family: 'lemon';
}
small{
    color: #6f6f77;
}
.triangle-isosceles {
    position:relative;
    background:$color-light;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    p{
        padding: 20px;
        text-align: $center;
        font-size: 15px;
    }
}
.triangle-isosceles:after {
    content:"\00a0";
    display:block;
    position:absolute;
    z-index:-1;
    bottom:-30px;
    right:50px;
    width:0;
    height:0;
    border-width:15px 8px;
    border-style:solid;
    border-color:$color-light $transparent $transparent;
}
.triangle-isosceles.triangle-left:after {
    left:50px;
}
img.instructor{
    border-radius: 100px;
}
/*toask*/
.btn-link{
    color: #000;
    font-family: google;
}
.btn-link:hover{
    color: $color-brand;
}
.btn-link:focus{
    color: $color-brand;
}
.card{
    background-color: transparent;
    border: none;
}
.card-body{
    background: $color-white;
}
/*section-contact-------------------------*/
section.contact, section.map{
    margin-bottom: 0;
}
.contact-ttl{
    background: $transparent;
    box-shadow: none;
    color: $color;
    small{
        color: #bebebe;
    }
}
.contact-stc{
    background: #31333e;
    padding: 80px;
    color: $color-light;
    font-family: 'Anke';
    font-weight: normal;
}
label{
    margin-left: 10px;
}
input.form-control, textarea.form-control{
    font-size: 10px;
    letter-spacing: 2px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 7px;
    border: $transparent;
}
.button-send{
    width: $progress-width;
    font-size: 15px ;
}
.btn-contact{
    background: $color-light !important;
    text-transform: uppercase !important;
    color: $color-brand !important;
    font-weight: bold !important;
}
.btn-contact:hover{
    background: $color-brand !important;
    text-transform: uppercase !important;
    color: $color-white !important;
    font-weight: bold !important;
}
.button-send:hover{
    color: $color;
}
i.fab.fa-linkedin-in{
    position: absolute;
    top: 0;
    margin: 10px;
    color: #fff;
    background: #0077b5;
    padding: 5px;
    border-radius: 100px;
}
/*map--------------*/

/*footer------------------------------*/
footer{
    margin-top: -8px;
    height: 100px;
    h6 small{
        color: $color;
    }
}
.logo-footer{
   margin-top: 50px;
}
label.error{
    font-family: 'Anke';
    color: $color-brand;
    font-weight: 100;
    font-size: 11px;
    position: absolute;
    background: none !important;
    margin-left: -5px;
    margin-top: -6px;
}
input.file{position:absolute; display: none;}

/*media query*/
@media only screen and (min-width: 320px) and (max-width: 568px){
    .triangle-isosceles.triangle-left:after {
        top:-15px;
        border-width:15px 15px;
        display: flex;
        justify-content: $center;
    }
    .th-user{
        margin-top: 0;
    }
    div.themes{
        width: $progress-width;
        margin-bottom: 20px;
    }
    .twothers{
        width: $progress-width;
        margin-bottom: 10px;
    }
    img.home-demo{
        height: 171px;
    }
    img.bots{
        height: 280px;
    }
    section.tolearn .twothers{
        width: 100%;
    }
    .btn-link{
        float: left;
        margin-left: -15px;
        font-size: 11px;
    }
    nav{
        width: 93%;
    }
}
@media only screen and (min-width: 360px) and (max-width: 640px){
    .triangle-isosceles.triangle-left:after {
        top:-15px;
        border-width:15px 15px;
        display: flex;
        justify-content: 4center;
    }
    .th-user{
        margin-top: 0;
    }
    div.themes{
        width: $progress-width;
        margin-bottom: 20px;
    }
    .twothers{
        width: $progress-width;
        margin-bottom: 10px;
    }
    img.home-demo{
        height: 207px;
    }
    img.bots{
        height: 322px;
    }
    .btn-link{
        float: left;
        margin-left: -15px;
        font-size: 11px;
    }
    section.tolearn .twothers{
        width: 100%;
    }
    nav{
        width: 93%;
    }
}
@media only screen and (min-width: 375px) and (max-width: 667px){

    img.home-demo{
        height: 225px;
    }
    img.bots{
        height: 349px;
    }
    section.tolearn .twothers{
        width: 100%;
    }
    .btn-link{
        float: left;
        margin-left: -15px;
        font-size: 11px;
    }
    nav{
        width: 93%;
    }
}
@media only screen and (min-width: 375px) and (max-width: 812px){
    img.home-demo{
        height: 216px;
    }
    img.bots{
        height: 370px;
    }
    section.tolearn .twothers{
        width: 100%;
    }
    .btn-link{
        float: left;
        margin-left: -15px;
        font-size: 11px;
    }
    nav{
        width: 93%;
    }
}
@media only screen and (min-width: 411px) and (max-width: 731px){

    img.home-demo{
        height: 245px;
    }
    img.bots{
        height: 363px;
    }
    section.tolearn .twothers{
        width: 100%;
    }
    .btn-link{
        float: left;
        margin-left: -15px;
        font-size: 11px;
    }
    nav{
        width: 93%;
    }
}
@media only screen and (min-width: 414px) and (max-width: 736px){

    img.home-demo{
        height: 240px;
    }
    img.bots{
        height: 332px;
    }
    section.tolearn .twothers{
        width: 100% !important;
    }
    .btn-link{
        float: left;
        margin-left: -15px;
        font-size: 11px;
    }
    nav{
        width: 93%;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px){

    div.themes{
        width: $progress-width;
        margin-bottom: 20px;
    }
    div.col-sm-2.ipad-responsive{
        margin-right:44px;
    }
    .twothers{
        width: $progress-width;
        margin-bottom: 10px;
    }
    img.home-demo{
        height: 215px;
    }
    img.bots{
        height: 322px;
    }
    nav{
        width: 93%;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1366px){

    img.home-demo{
        height: 283px;
    }
    img.bots{
        height: 443px;
    }
    .tolearn-row{
        display: block;
    }
    div.col-md-4{
        display: block;
        margin: auto;
    }
    nav{
        width: 93%;
    }
}


